:root {
    --main-bg-color: #ffffff; 
    --main-border-color: #bbbbbb;
    --main-shadow-color: #72727255;
  }
html, body{
    height: 100%;
    width: 100%;
}
main{
    max-width: 720px;
    min-width: 300px;
    height: 100%;
    margin: auto;
}
section{
    margin: 16px 0px;
    padding: 16px;
    border: 1px solid var(--main-border-color);
    border-radius: 8px;
    box-shadow: 0px 4px 2px 0px var(--main-shadow-color);
    background-color: var(--main-bg-color);
}
section::after{
    clear: both;
    display: table;
    content: "";
}
section > img {
    float: left;
    height: 150px;
    width: 150px;
    border-radius: 8px;
    margin: 0px 8px 8px 0px;
}
section > h1 {
    font-size: 3rem;
    margin-bottom: 8px;
}
section > p{
    margin-bottom: 8px;
}
section > button {
    background: transparent;
    border-radius: 8px;
    border: 1px solid var(--main-border-color);
}
section > button:hover{
    background: #ffa500;
    cursor: pointer;
}
section > button:focus{
    background: #c96e00;
}