:root {
    --base-bg-color: #dadada;
    --main-bg-color: #ffffff; 
    --main-border-color: rgb(9,39,5);
    --main-shadow-color: #5a5a5aa5;
    --accent: rgb(71, 150, 117);
    --accent-alt: rgb(9,39,5);
    --dark-text: #000;

}
html, body{
    height: 100%;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
    background: rgb(16, 41, 6);
    background: linear-gradient(135deg, rgb(9, 39, 5) 0%, rgb(71, 150, 117) 50%, rgb(149, 205, 73) 100%) fixed;
}
a{
    text-decoration: underline;
}
a:hover{
    cursor: pointer;
    color: var(--accent);
}
nav{
    width: 100%;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: flex-end;
}
nav > a {
    margin-top: 8px;
    margin-right: 8px;
}
nav > a:hover {
    cursor: pointer;
}
nav > a > img {
    height: 32px;
    width: 32px;
}
main{
    max-width: 720px;
    min-width: 300px;
    height: 100%;
    margin: auto;
}
section{
    margin: 16px 0px;
    padding: 16px;
    border: 1px solid var(--main-border-color);
    border-radius: 8px;
    box-shadow: 0px 4px 2px 0px var(--main-shadow-color);
    background-color: var(--main-bg-color);
}
section > .card-main::after{
    clear: both;
    display: table;
    content: "";
}
section > .card-main > img {
    float: right;
    height: 150px;
    width: 150px;
    border-radius: 8px;
    margin: 0px 0px 8px 8px;
    border: 1px solid var(--accent);
}
section > .card-main > h1 {
    font-size: 3rem;
    margin-bottom: 8px;
}
section > .card-main > p{
    margin-bottom: 8px;
}
section > .card-main button {
    background: transparent;
    border-radius: 8px;
    border: 1px solid var(--main-border-color);
    padding: 6px 8px;
}
section > .card-main button:hover{
    background: var(--accent);
    cursor: pointer;
}
section > .card-main button:focus{
    background: var(--accent-alt);
}
.bg-code {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(../images/bg/safar-safarov-1509070-unsplash.jpg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}
.section-intro{
    height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-intro > h1 {
    font-size: 3rem;
    color: white;
    text-shadow: 0px 0px 3px black;
}
.section-intro > h2 {
    font-size: 2rem;
    color: white;
    text-shadow: 0px 0px 3px black;
}
.section-reachout li {
    padding: 4px;
    margin-top: 4px;
}
@media (max-width: 400px){
    section > .card-main > img {
        display: inline;
        float: none;
        width: 100%;
        height: auto;
    }
}